@import 'variables';

@mixin box {
  background-color: $background;
  box-shadow: $box-shadow;
}

.dashboard-body {
  display: flex;

  header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    @include box;


  }

  nav {
    @include box;
    
    ul {
      list-style: none;

      li {
        span {
          &:nth-of-type(1) {
            margin-right: 2px;
          }
        }
      }
    }
  }

  .dashcards {
    display: flex;
    justify-content: space-between;
  }
}